@tailwind base;
@tailwind components;
@tailwind utilities;

#shoutouts-button {
    &:active {
        transform: scale(0.9, 0.9);
    }
}

#shoutouts-popup {

    width: calc(100vw - 40px);

    [data-playground-inner] {
        opacity: 0;
        transform: translate(0, -10px);
        transition: opacity 0.3s, transform 0.5s;
    }

    &.is-open [data-playground-inner] {
        opacity: 1;
        transform: translate(0, 0);
    }

    iframe {
        opacity: 0;
        &.lazyloaded {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }

    .flickity-enabled {
        position: absolute;
        top: 0; left: 0;
    }

    .flickity-enabled:focus {
        outline: none;
    }

    .flickity-viewport {
        overflow: hidden;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .flickity-slider {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    /* draggable */

    .flickity-enabled.is-draggable {
        -webkit-tap-highlight-color: transparent;
        tap-highlight-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .flickity-enabled.is-draggable .flickity-viewport {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
    }

    .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }

    .flickity-page-dots {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        bottom: 14px;
        left: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        line-height: 1;
        z-index: 3;
    }

    .flickity-page-dots .dot {
        display: block;
        flex: 0 0 auto;
        width: 10px;
        height: 10px;
        margin: 0 10px 10px;
        background: transparent;
        border: 1px solid #ffffff;
        border-radius: 100%;
        cursor: pointer;
        background-color: currentColor;
        position: relative;
        opacity: 0.3;
        z-index: 1;
        &:hover {
            z-index: 10;
        }
        &.is-selected {
            opacity: 1;
        }
        &::before {
            content: "";
            display: block;
            width: 44px;
            height: 44px;
            position: absolute;
            left: -22px;
            top: -22px;
        }
    }

    .flickity-page-dots .dot.is-selected {
        background-color: currentColor;
    }

}

.adspace-banner {

    iframe {
        opacity: 0;
        &.lazyloaded {
            opacity: 1;
            transition: opacity 0.3s;
        }
    }

}

#adspace-popup {
    [data-playground-close]:active {
        transform: scale(0.9, 0.9);
    }
    [data-playground-popup] {
        width: calc(100vw - 40px);
        opacity: 0;
        transform: translate(0, -5px);
        transition: opacity 0.3s, transform 0.3s;
    }
    &.is-visible [data-playground-popup] {
        opacity: 1;
        transform: none;
        transition: opacity 0.3s 0.1s, transform 0.5s 0.1s;
    }
    [data-playground-overlay] {
        opacity: 0;
        transition: opacity 0.3s;
    }
    &.is-visible [data-playground-overlay] {
        opacity: 1;
        transition: opacity 0.5s;
    }
}
